.container {
  max-width: 960px;
  padding: 0 22px 36px;
  width: 100%;
}

h1 {
  font-size: 2.25rem;
}

.column1,
.column2 {
  width: 50%;
}

.column3 {
  width: 100%;
}

.wireframe-grid {
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.prototype-index {
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}
